<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <a href="/" class="brand title">Galería Casado Santapau</a>
      <ul class="nav">
        <%= render 'layouts/admin/menu' %>
      </ul>
    </div>
  </div>
</header>
