<%= my_simple_form(resource) do |f| %>
  <div class="form-inputs">
    <% form_attributes_for(resource_class).each do |attribute| %>
      <%= f.input attribute, input_html: { class: :span8 } %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
