<div class="sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">NAVIGATION</li>
    <%= render 'layouts/admin/menu' %>
  </ul>

  <%= render_cell(:recent_projects, :sidebar) %>
</div>
